backoff==2.2.1
certifi==2023.11.17
charset-normalizer==3.3.2
gql==3.4.1
graphql-core==3.2.3
idna==3.6
multidict==6.0.4
numpy==1.26.2
pandas==2.1.4
python-dateutil==2.8.2
pytz==2023.3.post1
rapidfuzz==3.6.1
requests-toolbelt==1.0.0
requests==2.31.0
six==1.16.0
thefuzz==0.20.0
tzdata==2023.3
urllib3==2.1.0
yarl==1.9.4
scikit-learn==1.4.0
